# Data Types

In this unit, we will discuss *primitive* data types.  

## Primitive Data Types

In Python, as in most other programming languages, every variable and 
expression has a *data type*. In previous Jupyter Notebooks, we have already 
used several of these *data types* without explicitly naming them.  

For example, the following expression contains two values of the `Integer` data 
type. The result also belongs to the same data type, `Integer`.

In [ ]:
1 + 2

Python distinguishes between *primitive* and *complex* data types. In this 
notebook, we will introduce the different *primitive* data types, which are 
listed in the table below:

| Description       | Python data type | Example values |
| ----------------- | ---------------- | -------------- |
| Integer numbers   | Integer (`int`)  | 42, 0, -11     |
| Decimal numbers   | Float (`float`)  | 2.0, -3.14     |
| Logical values    | Boolean (`bool`) | True, False    |
| Character strings | String (`str`)   | "Hello world"  |

The built-in Python function `type()` ([Python documentation: type](https://docs.python.org/3/library/functions.html#type)) can be used to determine the data type of a parameter.

In the following cell, the `type()` function is used to display the data type 
of the values `41`, `-3.14`, `True`, and `"Hello World"`.

In [ ]:
print(type(42))
print(type(-3.14))
print(type(True))

s = "Hello World"
print(type(s))

A brief explanation of the notation `print(type(42))`:  

Here, the functions `print()` and `type()` are nested. This means that `type()` 
first receives `42` as its input value. The `type()` function then returns an 
output, which serves as the input for `print()`. As a result, the `print()` 
function displays `<class 'int'>` below the cell.

Functions can be nested within each other. In such cases, they are executed 
from inside out. The return value of the inner function serves as an input 
argument for the outer function. 

It is possible to have multiple levels of nesting, but deeply nested statements 
can become difficult to read and understand.

## Integer

The first primitive data type we will explore in detail is `int`. This data 
type is used to represent [integers](https://en.wikipedia.org/wiki/Integer). 
The set of integer values includes ..., -3, -2, -1, 0, 1, 2, 3, ... (i.e., 
$\mathbb{Z}$).

Unlike many other programming languages, Python's `int` type is not limited to 
a fixed range. Instead, its value range is constrained only by the available 
internal memory of the computer. This allows Python to handle calculations 
with extremely large numbers.

In the following cell, you can see examples of the `int` data type. Try 
entering different numbers yourself to explore how Python handles integers!

In [ ]:
print(type(2))
print(type(-5))

x = 10000000000000000000000000000000000000
print(type(x))

x_squared = x * x
print(x_squared)
print(type(x_squared))

## Float

Unlike the `int` data type, `float` is used to represent 
[floating-point numbers](https://en.wikipedia.org/wiki/Floating-point_arithmetic). 
Decimal places are indicated using a dot (`.`).  

As shown in the following cell, the `float` type also supports exponential 
notation. For example, `6.62e-34` represents the number $6.62 \times 10^{-34}$.

In [ ]:
print(type(0.1))
print(type(0.0))

h = 6.63e-34  # https://en.wikipedia.org/wiki/Planck_constant
print(h)
print(type(h))

g = 1e100  # https://en.wikipedia.org/wiki/Googol
print(g)
print(type(g))

## Operations

The following table was previously introduced in the unit on variables. Now, 
letâ€™s examine these operations from a data type perspective.

| Description      | Operator | Example  | Result             |
| --------------- | -------- | -------- | ------------------ |
| Addition        | `+`      | `2 + 3`  | `5`                |
| Subtraction     | `-`      | `2 - 3`  | `-1`               |
| Multiplication  | `*`      | `2 * 3`  | `6`                |
| Division        | `/`      | `7 / 3`  | `2.3333333333333335` |
| Integer division | `//`    | `7 // 3` | `2`                |
| Modulo          | `%`      | `7 % 3`  | `1`                |
| Exponentiation  | `**`     | `2 ** 0.5` | `1.4142135623730951` |

As you can see, most operations with two integers as input produce an integer 
as output. However, division (`/`) always returns a `float`, even if the 
result appears to be a whole number. Additionally, operations involving both
`int` and `float` values result in a `float`, as shown in the last example.

## Exercise

Experiment with different operations using the `int` and `float` data types. 
Use the `type()` function to determine the resulting data type of each 
operation.

Consider the following questions:

- What happens when an `int` value is combined with a `float` value using an 
  operator?  
- Do operations involving only `int` values always produce an `int` result?  

Test your assumptions by running different calculations!

In [ ]:
integer_value = 5
print(type(integer_value))

float_value = 6.78
print(type(float_value))

combinated_value = integer_value + float_value
print("The combined value's type is:", type(combinated_value))

# More values for experimentations:
print(-12345678900000000000.0)
print(3 / 1)
print(2e306 * 10)

## Accuracy of operations on `float` Values

Execute the calculations in the following two cells.

- Are the computed results accurate?  
- If not, what might be causing these discrepancies?  

Consider potential limitations in how floating-point numbers are represented in 
Python.

In [ ]:
a = 0.1
b = 0.2

sum = a + b
print(sum)

In [ ]:
root_of_2 = 2**0.5

two = root_of_2**2
print(two)

Internally, Python represents floating-point numbers with a precision of 15
to 16 digits using the binary system ([IEEE 754](https://de.wikipedia.org/wiki/IEEE_754)).
This representation allows calculations with both very large and very small numbers. 
However, rounding errors can occur in certain cases. Some numbers cannot be 
precisely represented in the binary system, similar to how `1/3` cannot be 
represented exactly in the decimal system.

For more examples of unexpected behavior when working with floating-point 
numbers, refer to the [Python Documentation](https://docs.python.org/3/tutorial/floatingpoint.html).

## More Data Types
### Boolean

The `bool` data type represents truth values. It can only take two possible 
values: `True` or `False`.

Python provides special logical operators for working with `bool` values:

| Operator | Explanation  | Example     |
| -------- | ----------- | ----------- |
| `not`    | Negation    | `not y`     |
| `and`    | Logical AND | `x and y`   |
| `or`     | Logical OR  | `a or b or c` |

These operators allow you to perform logical operations, combining `True` and 
`False` values to control program flow.

### Exercise

In the following cell, you will find examples demonstrating the use of `bool` 
values.  

Consider the following questions:  

- What happens when you combine a `bool` value with an `int`?  
- What happens when you combine a `bool` value with a `float`?  
- Which operators can be used for these combinations?  
- What is the data type of the result?  

Test different operations and analyze the outcomes!

In [ ]:
print(False and False)
print(not False)

a = True
b = False

print("True and True: ", True and True)
print("a and b: ", a and b)
print("a or b: ", a or b)

print("Complex logical expression: ", a and (b or (True and False)))

### String
To process character strings, the `String` data type is used. Strictly speaking `String` is not a primitive data type, but
a [sequence data type](https://docs.python.org/3/library/stdtypes.html#typesseq). Since strings happen to occur very
often in simple programs, the data type `String` will be introduced nevertheless.

In Python, `Strings` can be created with either single or double quotes. There are subtle differences between the two
variations, which will not be discussed further at this point. We will prefer to use double quotes (`"`) when working
with `Strings`.

In the following cell you can see, that it is possible to use the `+` operator not only on integers (and floats) but as well on strings. Moreover, it is possible to multiply a string with an interger. What happens, if you multiply a string with a float?


### String

The `str` data type is used to handle character strings. Strictly speaking,
`str` is not a primitive data type but a [sequence data type](https://docs.python.org/3/library/stdtypes.html#typesseq). 
However, since strings are widely used in simple programs, we introduce them
here.

In Python, `str` values can be created using either single (`'`) or double 
(`"`) quotes. There are subtle differences between the two, but for simplicity, 
we will use double quotes (`"`) when working with strings.

In the following cell, you can observe that the `+` operator works not only 
with `int` and `float` values but also with strings. Additionally, a string can 
be multiplied by an `int`. Consider the following question:
- What happens if you try to multiply a string by a `float`?

In [ ]:
print(type("Hello World"))

a = "Hello"
b = "World"

print(a, b)
print(a + b)

print(3 * a)

#### String methods
Python provides a variety of [methods](https://docs.python.org/3/library/string.html) for processing `str` 
values. A small selection of these methods is shown below:

* `.lower()`: changes all upper case letters to lower case
* `.upper()`: changes all lowercase letters to uppercase
* `.replace()`: is used to replace a given sequence within a `str` with another one

#### Exercise

Experiment with different operations on `str` values.

- What happens when you try to add a `str` and an `int`?  
- Use the string methods mentioned above to manipulate text.  

Test different cases and observe the results!

In [ ]:
a = "Ramones"
print(a.upper())

print("hitchhiker".replace("hi", "ma"))

#### Exercise

Ask the user to enter two numbers using the `input()` function. Then, add the 
two numbers and print the result.

Consider the following questions:

- What issue occurs when performing the addition?  
- What is the data type of the input values?  

Test the behavior and analyze the outcome!

In [ ]:
a = input("Please insert a number A: ")

# Please add your code in the following lines

b =

## Type conversion

Operations on `str` values sometimes lead to unexpected results. Attempting to 
add a `str` and an `int` results in an error. However, adding two `str` values 
concatenates them instead of performing arithmetic addition.

This issue frequently occurs when working with user input, as values entered 
through `input()` are always of type `str`. Before performing numerical 
operations, these values may need to be converted to an appropriate data type.

Python provides several [built-in functions](https://docs.python.org/3/library/functions.html) for 
converting between different data types:

| Function | Explanation                                          | Example        |
| -------- | ---------------------------------------------------- | -------------- |
| `int()`  | Converts the given value to an `int`                | `int("10")`    |
| `float()` | Converts the given value to a `float`              | `float("3.14")` |
| `bool()` | Converts the given value to a `bool`                | `bool("Hello")` |
| `str()`  | Converts the given value to a `str`                 | `str(True)`    |

Understanding type conversion is essential when handling user input and 
ensuring correct operations on different data types.

## Exercise
Experiment with converting values between different data types.  

- Determine the resulting data type and value after each conversion.  
- What happens when you concatenate different conversions?  

Try various combinations and analyze the outcomes!

In [ ]:
s = "Hello"
i = 2019
print(s + str(i))

print(bool(0))

print(int(bool(3)))

bool(" ")

## Type conversion and the `input()` function

As mentioned earlier, the `input()` function always returns a value of type 
`str`. If a different data type is required, the input must be converted 
before use.

The following cells demonstrate the necessary conversion process.

In [ ]:
age = input("Please insert your age: ")
age = int(age)
print(age)
print(type(age))

In [ ]:
# Alternatively it is also possible to nest these functions
age = int(input("Please insert your Age: "))
print(type(age))

### Exercise

Modify the cuboid program so that it reads the length, width, and height from 
user input using the `input()` function.

**Notes:**
- The `print()` function can output multiple values by separating them with 
  commas.  
  Example: `print(a, b, c)`  
- The `print()` function can also display `str` values directly.  
  Example: `print("The result is:")`  

Implement the program and test its functionality!

### Exercise 2

Use the `type()` function to assign the type of the variable `number_of_ramones` to the variable `answer`, then print it.

In [ ]:
number_of_ramones = 4
answer = #your function
print(answer)